Jupyter ver: 
Python ver:
psycopg ver: 2,9,6
       
instalei o psycopg pelo pip 
     
     
postgree documentation
https://www.postgresql.org/docs/
psycopg documentation
https://www.psycopg.org/docs/usage.html

  
     
     
     
     Sites de erros
    InFailedSqlTransaction - https://kb.objectrocket.com/postgresql/python-error-handling-with-the-psycopg2-postgresql-adapter-645

In [2]:
import psycopg2

In [3]:
#método de conexão ao banco de dados. 
#O servidor foi criado com o pgAdmin
    #a versão mais recente do pgadim está com problemas então se tiver algum erro diminua para a versão 7.3
    #dentro dedssa conexão o servidor e a porta vai ser o servidor da sua máquina
    #e a conxão que você vai fazer e dentro de uma databasse
conn = psycopg2.connect(database="",
                        host="",
                        user="",
                        password="",
                        port="")

In [4]:
# Falta criar o banco de dados - Ja criei
#Open a cursor to perform database operations
cur = conn.cursor()

In [14]:
#caso tenha algum problema para executar uma querie, imagino que por medidas de segurança, o postgree bloqueia todas as futura interações até que se deja um rollback
#Quando uma operação falha é nescessãrio dar um rollback
conn.rollback()

In [15]:
cur.execute("SELECT FROM pessoas;")

In [16]:
#executar comando com o cursor 
#Nessa versão criei essa tabela com o char e não o var char. O que me causou problemas já que eu não especifiquei o tamanho, na dúvida coloque varchar que é infinito pelo que eu li
#cur.execute(Command(especifications))
cur.execute("CREATE TABLE pessoas(id serial PRIMARY KEY, nome varchar, sonho varchar);")
    #teste dois om o código da documentação
#cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

SyntaxError: syntax error at or near "("
LINE 1: ALTER TABLE pessoas(id serial PRIMARY KEY, nome varchar, son...
                           ^

In [ ]:
#https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-char-varchar-text/

In [24]:
#para salvar as configurações é nescessário dar commit
conn.commit()

In [ ]:
#e para fechar ou o cursor, ou a conexão;
    #cur.close()
    #conn.close

In [ ]:
conn.close

In [11]:
cur.execute("INSERT INTO pessoas (nome, sonho) VALUES ('Kauan', 'Medico')")
#isso é um teste onde vou colocar diretamente valores dentro da tabela, se for num ambiente de programação mais dinâmico, será nescessário generalizar com os "%"

StringDataRightTruncation: value too long for type character(1)